
/****************************************
  ==== RESETS
****************************************/

html,body,div,canvas { margin: 0; padding: 0; }
::-moz-selection { color: #333; text-shadow: none; }
::selection {  color: #333; text-shadow: none; }
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { display: inline-table; clear: both; }
/* Hides from IE-mac \*/ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

@font-face {
  font-family: visitor;
  src: url(visitor1.ttf);
}

html, body { width: 100%; height: 100%; font-family: "visitor", Helvetica, Verdana, Arial, sans-serif; background-color: #a53c65;}
body { }
p.header, p.footer { display: none; }

body.template { }
.template .template-wrap { width: 100%; display: block; text-align: center;}
.template .template-wrap canvas { display: inline-block;}
footer, h1{
  width: 100%;
  display: block;
  text-align: center;
}
h1{
  color: #84873e;
}
a{
  color: #000;
}
a:hover{
  color: #414d90;
}
